page-login {

    ion-title {
        text-align: center;
        padding: 20px;
    }

    img {
        width: 150px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        margin-bottom: 10px;
    }


}
