page-login {

    ion-title * {
        margin-top: 30vh;
        margin-bottom: 5vh;
    }
    h3 {
        text-align: center;
        padding: 20px;
    }

    img {
        width: 150px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        margin-bottom: 10px;
    }


}
