<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Ordens de Serviço</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let form of forms" (click)="selecionaForm(form)">
    <ion-item>
      <h2>
        <b>ID: </b>{{ form.id }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Prioridade:</b>
        {{ form.priority.priorityName }}
      </h2>
      <div *ngIf="form?.foto">
        <ion-icon name="image"> </ion-icon>
      </div>
      <p><b>Abertura:</b> {{ form.dateopen | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      <div *ngIf="form?.dateclose">
        <p><b>Encerramento:</b> {{ form.dateclose | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      </div>

      <p><b>Status:</b> {{ form.status.nameStatus }}</p>
    </ion-item>
    <ion-card-content>
      <b>Descrição:</b>
      <p>{{ form.description }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="person"></ion-icon>
          <div>
            <b>Solicitante:</b> {{ form.userRequester.nome }}
            <div *ngIf="form?.userResponsible">
              <ion-icon name="construct" color="tertiary"></ion-icon>
              <b>Técnico:</b> {{ form.userResponsible.nome }}
            </div>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
