page-dashboard {
  ion-icon {
    font-size: 5em;
  }
  button ion-icon {
    font-size: 5em;
  }

  .title-dash {
    color: #8655fc;
    text-align: center;
    margin: 20px;
    padding-top: 5px;
  }

  .title-dash h2 {
    font-size: 1em !important;
  }

  .title-dash p {
    margin: -5px;
    font-size: 2.5em;
    font-weight: bold;
  }
}

