<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gerar/Editar Ordem de Serviço </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <section [ngSwitch]="cargo">
    <ng-container *ngSwitchCase="'SUPERVISOR'">
      <form #formulario01="ngForm" (ngSubmit)="saveOrder(formulario01)">
        <ion-list>
          <div *ngIf="os.status.id == 1 || os.status.id == 5 || os.status.id == 6">
            <ion-item>
              <ion-label floating>Técnico:</ion-label>
              <ion-select [(ngModel)]="os.userResponsible" name="user" multiple="false">
                <ion-option *ngFor="let user of listUsers" [value]="user">{{
                  user.nome
                }}</ion-option>
              </ion-select>
            </ion-item>
          </div>
          <ion-item>
            <ion-label floating>Descrever a manutenção: </ion-label>
            <ion-input
              required
              [(ngModel)]="os.description"
              type="text"
              name="description"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Setor:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.sectorRequester"
              name="sector"
              multiple="false"
            >
              <ion-option *ngFor="let sector of listSectors" [value]="sector">{{
                sector.nameSector
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Serviço:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.service"
              name="service"
              multiple="false"
            >
              <ion-option *ngFor="let service of listServices" [value]="service">{{
                service.description
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Prioridade:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.priority"
              name="priority"
              multiple="false"
            >
              <ion-option *ngFor="let priority of listPriorities" [value]="priority">{{
                priority.priorityName
              }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <button [disabled]="!formulario01.valid" ion-button full block color="primary">
          Salvar OS
        </button>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="'TECNICO'">
      <form #formulario01="ngForm" (ngSubmit)="saveOrder(formulario01)">
        <ion-list>
          <ng-template [ngIf]="statusMati.id == 3">
            <div>
              <ion-item>
                <ion-label floating>Status:</ion-label>
                <ion-select
                  required
                  [(ngModel)]="os.status"
                  name="status"
                  multiple="false"
                  [compareWith]="comparacaoDeIdOrder"
                >
                  <ion-option *ngFor="let status of listStatus" [value]="status">{{
                    status.nameStatus
                  }}</ion-option>
                </ion-select>
              </ion-item>
            </div></ng-template
          >

          <ion-item>
            <ion-label floating>Descrever a manutenção:</ion-label>
            <ion-input
              required
              [(ngModel)]="os.description"
              type="text"
              name="description"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Setor:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.sectorRequester"
              name="sector"
              multiple="false"
            >
              <ion-option *ngFor="let sector of listSectors" [value]="sector">{{
                sector.nameSector
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Serviço:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.service"
              name="service"
              multiple="false"
            >
              <ion-option *ngFor="let service of listServices" [value]="service">{{
                service.description
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Prioridade:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.priority"
              name="priority"
              multiple="false"
            >
              <ion-option *ngFor="let priority of listPriorities" [value]="priority">{{
                priority.priorityName
              }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <button [disabled]="!formulario01.valid" ion-button full block color="primary">
          Salvar OS
        </button>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="'FUNCIONARIO'">
      <form #formulario01="ngForm" (ngSubmit)="saveOrder(formulario01)">
        <ion-list>
          <ion-item>
            <ion-label floating>Descrever a manutenção:</ion-label>
            <ion-input
              required
              [(ngModel)]="os.description"
              type="text"
              name="description"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Setor:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.sectorRequester"
              name="sector"
              multiple="false"
            >
              <ion-option *ngFor="let sector of listSectors" [value]="sector">{{
                sector.nameSector
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Serviço:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.service"
              name="service"
              multiple="false"
            >
              <ion-option *ngFor="let service of listServices" [value]="service">{{
                service.description
              }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Prioridade:</ion-label>
            <ion-select
              required
              [compareWith]="comparacaoDeIdOrder"
              [(ngModel)]="os.priority"
              name="priority"
              multiple="false"
            >
              <ion-option *ngFor="let priority of listPriorities" [value]="priority">{{
                priority.priorityName
              }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <button [disabled]="!formulario01.valid" ion-button full block color="primary">
          Voltar para listar OS
        </button>
      </form>
    </ng-container>
  </section>
</ion-content>
