<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gerar Ordem de Serviço </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #formulario01="ngForm" (ngSubmit)="saveOrder(formulario01)">
    <ion-list>
      <!--
      <ion-item>
        <ion-label position="floating" ion-row>
          <ion-col size="12"></ion-col>
        </ion-row>Descrever a manutenção:</ion-label>
        <ion-textarea
          required
          [(ngModel)]="os.description"
          type="text"
          name="description"
        ></ion-textarea>
      </ion-item>
   -->
      <ion-item>
        <ion-label floating>Descrever a manutenção:</ion-label>
        <ion-input required [(ngModel)]="os.description" type="text" name="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Setor:</ion-label>
        <ion-select
          required
          [(ngModel)]="os.sectorRequester"
          name="sector"
          multiple="false"
          placeholder="Setor"
        >
          <ion-option *ngFor="let sector of listSectors" [value]="sector">{{
            sector.nameSector
          }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Serviço:</ion-label>
        <ion-select
          required
          [(ngModel)]="os.service"
          name="service"
          multiple="false"
          placeholder="Tipo de Serviço"
        >
          <ion-option *ngFor="let service of listServices" [value]="service">{{
            service.description
          }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Prioridade:</ion-label>
        <ion-select
          required
          [(ngModel)]="os.priority"
          name="priorities"
          multiple="false"
          placeholder="Prioridade"
        >
          <ion-option *ngFor="let priority of listPriorities" [value]="priority">{{
            priority.priorityName
          }}</ion-option>
        </ion-select>
      </ion-item>

      <button [disabled]="!formulario01.valid" ion-button full block color="primary">
        Salvar OS
      </button>
    </ion-list>
  </form>
</ion-content>
