myapp {
    #cabecalho-menu .item-inner {
        border: none;
    }
    .cabecalho-menu {
        background-image: url('../assets/imgs/material-design-background.jpg');
        height: 150px;
        margin-bottom: 10px;

        ion-avatar img {
            width: 50px;
            height: 50px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

        p {
            color: #eee;
        }
    }
}