<ion-split-pane>
  <ion-menu [content]="conteudo" *ngIf="configService.usuarioLogado">
    <!--configService?.usuarioLogado?.function.id-->
    <ion-content>
      <ion-item no-lines id="cabecalho-menu" class="cabecalho-menu">
        <div class="avatar-wrapper">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar-padrao.jpg" />
          </ion-avatar>
        </div>
        <p>
          <ion-icon name="contact">
            {{ configService?.usuarioLogado?.nome }}
          </ion-icon>
        </p>
        <p>
          <ion-icon name="mail">
            {{ configService?.usuarioLogado?.email }}
          </ion-icon>
        </p>
        <p>
          <ion-icon name="build">
            {{ configService?.usuarioLogado?.function.nameFunction }}
          </ion-icon>
        </p>
        <p>
          <ion-icon name="md-locate">
            {{ configService?.usuarioLogado?.sector.nameSector }}
          </ion-icon>
        </p>
      </ion-item>

      <ion-list no-lines class="list-menu">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{ p.title }}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" main #conteudo swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
