myapp {
    #cabecalho-menu .item-inner {
        border: none;
    }
    .cabecalho-menu {
        //background-color: #3498db;
        background-image: url('../assets/imgs/material-design-background.jpg');
        //background-image: linear-gradient(to right, #3498db, #00a88f);
        height: 200px;
        margin-bottom: 10px;

        ion-avatar img {
            width: 50px;
            height: 50px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

        p {
            padding: 3px;
            font-size: 1em;
            color: #eee;
        }

        ion-list button{
            font-size: 2em;
        }
    }
}