<ion-header>
  <ion-navbar color="primary">
    <ion-title> Usuarios</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="selecionaUser(user)" flex-wrap: nowrap>
      <h2>Nome: {{ user.nome }}</h2>
      <h2>Login: {{ user.login }}</h2>
      <!--    <p *ngIf="form.sectorProvider != null">Nome Setor: {{ form.sectorProvider.name_sector }}</p>-->
      <p>Função: {{ user.function.nameFunction }}</p>
      <p>Setor: {{ user.sector.nameSector }}</p>
    </ion-item>
  </ion-list>
</ion-content>
