<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gerar/Editar Ordem de Serviço </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #formulario01="ngForm" (ngSubmit)="saveOrder(formulario01)">
    <ion-list>
      <ion-item>
        <ion-label floating>Descrever a manutenção:</ion-label>
        <ion-input required [(ngModel)]="os.description" type="text" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Setor:</ion-label>
        <ion-select
          required
          [compareWith]="comparacaoDeIdOrder"
          [(ngModel)]="os.sectorRequester"
          name="sector"
          multiple="false"
        >
          <ion-option *ngFor="let sector of listSectors" [value]="sector">{{
            sector.nameSector
          }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Serviço:</ion-label>
        <ion-select
          required
          [compareWith]="comparacaoDeIdOrder"
          [(ngModel)]="os.service"
          name="service"
          multiple="false"
        >
          <ion-option *ngFor="let service of listServices" [value]="service">{{
            service.description
          }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Prioridade:</ion-label>
        <ion-select
          required
          [compareWith]="comparacaoDeIdOrder"
          [(ngModel)]="os.priority"
          name="priority"
          multiple="false"
        >
          <ion-option *ngFor="let priority of listPriorities" [value]="priority">{{
            priority.priorityName
          }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="takePicture()" no-line>
        <ion-icon name="camera">Add</ion-icon>
      </ion-item>
    </ion-list>

    <span class="close"
      >&times;

      <img [src]="os.foto" />
    </span>

    <!--    <img [src]="os.foto" />-->
    <button [disabled]="!formulario01.valid" ion-button full block color="primary">
      Salvar OS
    </button>
  </form>
</ion-content>
